        body {
            margin: 0;
            font-family: Arial, sans-serif;
            background: #F5FFFA;
            color: #333;
        }

        header {
            background: #008B8B;
            padding: 20px;
            text-align: center;
            color: white;
        }

        nav {
            background: #E0FFFF;
            padding: 10px;
            display: flex;
            justify-content: center;
            gap: 25px;
        }

        nav a {
            text-decoration: none;
            color: #2F4F4F;
            font-weight: bold;
            transition: 0.2s;
        }

        nav a:hover {
            color: #008B8B;
        }

        .catalogo {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 20px;
            padding: 40px;
        }

        .produto {
            background: white;
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
            padding: 15px;
            text-align: center;
        }

        .produto img {
            width: 100%;
            border-radius: 10px;
        }

        .produto h3 {
            color: #008B8B;
        }

        .produto button {
            background: #008080;
            border: none;
            color: white;
            padding: 8px 15px;
            border-radius: 5px;
            cursor: pointer;
            transition: .3s;
        }

        .produto button:hover {
            background: #008B8B;
        }