body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #F5FFFA;
    color: #333;
}

header {
    background: #008B8B;
    padding: 20px;
    text-align: center;
    color: white;
}

nav {
    background: #E0FFFF;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

nav a {
    text-decoration: none;
    color: #2F4F4F;
    font-weight: bold;
    transition: 0.2s;
}

nav a:hover {
    color: #008B8B;
}

.hero {
    padding: 50px;
    text-align: center;
}

.hero h2 {
    font-size: 28px;
    color: #008B8B;
}

.hero button {
    background: #008080;
    border: none;
    color: white;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.hero button:hover {
    background: #008B8B;
}

footer {
    margin-top: 50px;
    background: #008B8B;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 14px;}

.sobre{
    width: 700px;
    height: 200px;
    margin: 0 auto;
}

.sobre p{
    font-size: 18px;
    color: #2F4F4F;
    line-height: 1.6;
    font-weight: 400;
}

.sobre h1{
    font-size: 35px;
    color: #2F4F4F;
}